<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#!">DiskBabys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav flex-grow-1 mb-2 mb-lg-0 mx-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#!">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contato">Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 mx-2">
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <i class="fas fa-shopping-cart me-1"></i>
            Carrinho
          </a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a class="nav-link" href="/login">
            <i class="fas fa-user me-1"></i>
            Minha Conta
          </a>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a class="nav-link" href="/login">
            <i class="fas fa-user me-1"></i>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="Logout()">
            <i class="fas fa-sign-out-alt me-1"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
