<app-navbar></app-navbar>

<div class="container mt-4" *ngIf="!finalize">
  <h1 class="text-center">Carrinho</h1>

  <div *ngIf="emptyCartCheck">
    <button (click)="emptyCart()" class="btn btn-danger mr-2">
      Limpar Carrinho
    </button>
    <button (click)="finalize = true" class="btn btn-primary">
      Finalizar compra
    </button>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Nome Produto</th>
          <th>Preço</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of cartItems$ | async">
          <td><img class="product" [src]="c.picture" width="70" height="70" /></td>
          <td>{{ c.nome_produto }}</td>
          <td>${{ c.preco.toFixed(2) }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="delete(c.cid)">
              <i class="material-icons">Deletar</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="text-center" >Total: <b>${{ totalOrder }}</b></p>

  </div>

  <div *ngIf="defEmptyCart" class="text-center">
    <p>Seu carrinho está vazio</p>
  </div>
</div>

<div class="container mt-4" *ngIf="finalize">
  <h1 class="text-center">Finalizar Compra</h1>

  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Resumo do Pedido</h5>

          <p>Preço Total: <b>${{ totalOrder }}</b></p>

          <hr>

          <h5 class="card-title">Informações de Entrega</h5>

          <form [formGroup]="deliveryForm">
            <div class="form-group input-group">
              <label for="cep">CEP</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="cep" id="cep" placeholder="Digite o CEP">
                <div class="input-group-append">
                  <button (click)="consult(deliveryForm.get('cep').value)" class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="rua">Rua</label>
              <input type="text" class="form-control" formControlName="rua" id="rua" placeholder="Digite a Rua">
            </div>
            <div class="form-group">
              <label for="bairro">Bairro</label>
              <input type="text" class="form-control" formControlName="bairro" id="bairro" placeholder="Digite o Bairro">
            </div>
            <div class="form-group">
              <label for="cidade">Cidade</label>
              <input type="text" class="form-control" formControlName="cidade" id="cidade" placeholder="Digite a Cidade">
            </div>
            <div class="form-group">
              <label for="estado">Estado</label>
              <input type="text" class="form-control" formControlName="estado" id="estado" placeholder="Digite o Estado">
            </div>
            <div class="form-group">
              <label for="numero">Número</label>
              <input type="text" class="form-control" formControlName="numero" id="numero" placeholder="Digite o Número">
            </div>
            <div class="form-group">
              <label for="formaPagamento">Forma de Pagamento</label>
              <select class="form-control" formControlName="formaPagamento" id="formaPagamento">
                <option value="pix">Pix</option>
                <option value="cartao">Cartão de Crédito</option>
                <option value="picpay">PicPay</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary m-2" (click)="checkoutOrder()">Finalizar Compra</button>
            <button type="submit" class="btn btn-secondary m-2" (click)="goCart()">Voltar para o carrinho</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
