<app-navbar></app-navbar>
<header class="bg-dark py-5" style="background-image: url('/assets/images/header.png');">
</header>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let product of products$ | async">
        <div class="card h-100">
          <img class="card-img-top" [src]="product.picture" alt="..." />
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ product.nome_produto }}</h5>
              ${{ product.preco.toFixed(2) }}
            </div>
          </div>
          <div class="card-footer p-3  bg-transparent">
            <div class="text-center">
              <a class="btn btn-success "  (click)="viewProduct(product.pid)">
                Visualizar produto
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="(products$ | async)?.length === 0">
        <p>Nenhum produto cadastrado</p>
      </div>

    </div>
  </div>
</section>



<app-footer></app-footer>
