header {
  height: 70vh; /* Define a altura do banner como 100% da altura da janela */
  width: 100%; /* Define a largura do banner como 100% */
  background-size: cover; /* Faz com que a imagem de fundo cubra todo o espaço do banner */
  background-position: center; /* Centraliza a imagem de fundo */

}
