<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-white">DiskBabys</h5>
        <p class="text-white">
          Produtos de qualidade para quem você mais ama!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-white">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Home</a>
          </li>
          <li>
            <a class="text-white" href="/sobre">Sobre</a>
          </li>
          <li>
            <a class="text-white" href="/contato">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase text-white">Redes Sociais</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-white" href="#!">Facebook</a>
          </li>
          <li>
            <a class="text-white" href="#!">Instagram</a>
          </li>
          <li>
            <a class="text-white" href="#!">Twitter</a>
          </li>
          <li>
            <a class="text-white" href="https://github.com/raphaelavieira/DiskBabys" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 text-white" >
    &copy; 2023 DiskBabys. Todos os direitos reservados.
  </div>
</footer>
