<footer class="bg-light text-center text-lg-start" style="position: fixed; bottom: 0; width: 100%;">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">DiskBabys</h5>
        <p>
          Produtos de qualidade para quem você mais ama!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-dark" href="#!">Home</a>
          </li>
          <li>
            <a class="text-dark" href="/sobre">Sobre</a>
          </li>
          <li>
            <a class="text-dark" href="/contato">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes Sociais</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-dark" href="#!">Facebook</a>
          </li>
          <li>
            <a class="text-dark" href="#!">Instagram</a>
          </li>
          <li>
            <a class="text-dark" href="#!">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; 2023 DiskBabys. Todos os direitos reservados.
  </div>
</footer>
