<app-navbar></app-navbar>
<section class="py-5">
  <div class="container">
    <h1 class="display-4 mb-4 text-primary">Sobre Nós</h1>
    <p class="lead mb-5">Somos uma loja online de roupas para bebês, comprometida em oferecer produtos de qualidade a preços acessíveis.</p>
    <h2 class="mb-3 text-secondary">Nossa Missão</h2>
    <p class="mb-5">Proporcionar conforto e bem-estar para os bebês e satisfação aos pais através de roupas de qualidade, bonitas e duráveis.</p>
    <h2 class="mb-3 text-secondary">Nossa Visão</h2>
    <p class="mb-5">Ser a referência em ecommerce de roupas para bebês, com reconhecimento pela qualidade dos produtos, excelência no atendimento e satisfação dos clientes.</p>
    <h2 class="text-secondary">Nossos Valores</h2>
    <ul class="list-unstyled mb-5">
      <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Comprometimento com a satisfação do cliente</li>
      <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Respeito às pessoas</li>
      <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Integridade em todos os aspectos</li>
      <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Excelência em tudo que fazemos</li>
      <li><i class="bi bi-check-circle-fill text-primary me-2"></i>Inovação constante para melhorar nossos produtos e serviços</li>
    </ul>
    <a class="btn btn-primary" href="#" role="button">Saiba mais</a>
  </div>
</section>
<app-footer></app-footer>

