<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DiskBabys Painel Administrativo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" >Listar Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" >Listar Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" >Atualizar Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" >Adicionar Produto</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Sair</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container profile-page">
  <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-12">
          <div class="card profile-header">
              <div class="body">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-12">
                          <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""> </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                          <h4 class="m-t-0 m-b-0"><strong>Rapha</strong> Santos</h4>
                          <span class="job_post">Clinete Diskbabys</span>
                          <p>Avenida iguaçu 123</p>
                          <div>
                              <button class="btn btn-primary btn-round">Atualizar</button>
                              <button class="btn btn-primary btn-round btn-danger">Excluir conta</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="col-xl-6 col-lg-7 col-md-12">
          <div class="card profile-header">
              <div class="body">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-12">
                          <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""> </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                          <h4 class="m-t-0 m-b-0"><strong>Rapha</strong> Santos</h4>
                          <span class="job_post">Clinete Diskbabys</span>
                          <p>Avenida iguaçu 123</p>
                          <div>
                              <button class="btn btn-primary btn-round">Atualizar</button>
                              <button class="btn btn-primary btn-round btn-danger">Excluir conta</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-12">
          <div class="card profile-header">
              <div class="body">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-12">
                          <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""> </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                          <h4 class="m-t-0 m-b-0"><strong>Rapha</strong> Santos</h4>
                          <span class="job_post">Clinete Diskbabys</span>
                          <p>Avenida iguaçu 123</p>
                          <div>
                              <button class="btn btn-primary btn-round">Atualizar</button>
                              <button class="btn btn-primary btn-round btn-danger">Excluir conta</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="col-xl-6 col-lg-7 col-md-12">
          <div class="card profile-header">
              <div class="body">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 col-12">
                          <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""> </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-12">
                          <h4 class="m-t-0 m-b-0"><strong>Rapha</strong> Santos</h4>
                          <span class="job_post">Clinete Diskbabys</span>
                          <p>Avenida iguaçu 123</p>
                          <div>
                              <button class="btn btn-primary btn-round">Atualizar</button>
                              <button class="btn btn-primary btn-round btn-danger">Excluir conta</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
</div>
