<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DiskBabys Painel Administrativo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="listar-clientes" (click)="changePage('listar-clientes')" [ngClass]="{'active': currentPage === 'listar-clientes'}">Listar Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="listar-pedidos" (click)="changePage('listar-pedidos')" [ngClass]="{'active': currentPage === 'listar-pedidos'}">Listar Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="atualizar-produto" (click)="changePage('atualizar-produto')" [ngClass]="{'active': currentPage === 'atualizar-produto'}">Inventário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="adicionar-produto" (click)="changePage('adicionar-produto')" [ngClass]="{'active': currentPage === 'adicionar-produto'}">Adicionar Produto</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  (click)="toggleDarkMode()">
          <i class="fas fa-adjust"></i> Dark Mode
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="Logout()">Sair</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container profile-page" *ngIf="currentPage === 'listar-clientes'">
  <div class="row">
    <ng-container *ngIf="(users$ | async)?.length; else noUsers">
      <div class="col-xl-6 col-lg-7 col-md-12" *ngFor="let user of users$ | async">
        <div class="card profile-header">
          <div class="body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <div class="profile-image float-md-right">
                  <img src="{{ user.picture }}" alt="">
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-12">
                <h4 class="m-t-0 m-b-0"><strong>{{ user.name }} ID: {{ user.id }}</strong></h4>
                <span class="job_post"><i class="fas fa-envelope"></i> E-mail: {{ user.email }}</span>
                <p><i class="fas fa-map-marker-alt"></i> {{ user.address }}</p>
                <p><i class="fas fa-phone"></i> Telefone: {{ user.phone }}</p>
                <div>
                  <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#atualizarModal" (click)="update(user)">
                    <i class="fas fa-edit"></i> Atualizar
                  </button>
                  <button class="btn btn-primary btn-round btn-danger ml-3" data-toggle="modal" data-target="#deleteModal" (click)="openDeleteModal(user.id)">
                    <i class="fas fa-trash-alt"></i> Excluir conta
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #noUsers>
    <p>Nenhum usuário cadastrado.</p>
  </ng-template>


</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true" *ngIf="showDeleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModal">Excluir Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir esse usuário?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteConfirmed()">Excluir</button>
      </div>
    </div>
  </div>
</div>


<div class="container profile-page" *ngIf="currentPage === 'listar-pedidos'">
  <div class="container">
    <h1><i class="fas fa-box"></i> Pedidos</h1>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fas fa-sort-numeric-up"></i> Ordem ID</th>
            <th><i class="fas fa-user"></i> ID do Cliente</th>
            <th><i class="fas fa-dollar-sign"></i> Preço Total</th>
            <th><i class="fas fa-credit-card"></i> Forma de Pagamento</th>
            <th><i class="far fa-calendar-alt"></i> Data</th>
            <th><i class="fas fa-map-marker-alt"></i> Endereço</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="(requests | async)?.length; else noOrders">
            <tr *ngFor="let order of requests | async">
              <td>{{ order.oid }}</td>
              <td>{{ order.id }}</td>
              <td>R$ {{ order.preco_total.toFixed(2) }}</td>
              <td>{{ order.forma_pagamento }}</td>
              <td>{{ order.date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ order.rua }}, {{ order.numero }}, {{ order.bairro }}, {{ order.cidade }}, {{ order.estado }}, CEP: {{ order.cep }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ng-template #noOrders>
      <p>Nenhum pedido cadastrado.</p>
    </ng-template>
  </div>
</div>





<div class="modal fade" id="atualizarModal" tabindex="-1" role="dialog" aria-labelledby="atualizarModalLabel" aria-hidden="true" *ngIf="showModal &&  currentPage === 'listar-clientes'" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="atualizarModalLabel">Atualizar Cadastro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateUserForm" (ngSubmit)="update()" novalidate class="centerForm">
          <div class="flex-container">
            <div class="left">
              <div class="form-group">
                <label for="idInp">Seu ID</label>
                <input #idInp class="form-control" id="idInp" formControlName="id">
              </div>

              <div class="form-group">
                <label for="nameInp">Nome</label>
                <input #nameInp class="form-control" id="nameInp" formControlName="name">
              </div>

              <div class="form-group">
                <label for="emailInp">Email</label>
                <input #emailInp class="form-control" id="emailInp" formControlName="email" required type="email">
                <div *ngIf="updateUserForm.controls['email'].invalid && (updateUserForm.controls['email'].dirty || updateUserForm.controls['email'].touched)" class="text-danger">
                  Digite um email válido.
                </div>
              </div>

              <div class="form-group">
                <label for="pwInp">Senha</label>
                <input #pwInp class="form-control" id="pwInp" formControlName="password" required minlength="6">
                <div *ngIf="updateUserForm.controls['password'].invalid && (updateUserForm.controls['password'].dirty || updateUserForm.controls['password'].touched)" class="text-danger">
                  A senha deve ter pelo menos 6 caracteres.
                </div>
              </div>

              <div class="form-group">
                <label for="phoneInp">Telefone</label>
                <input #phoneInp class="form-control" id="phoneInp" formControlName="phone" required pattern="[0-9]{10}">
                <div *ngIf="updateUserForm.controls['phone'].invalid && (updateUserForm.controls['phone'].dirty || updateUserForm.controls['phone'].touched)" class="text-danger">
                  Digite um número de telefone válido com 10 dígitos.
                </div>
              </div>

              <div class="form-group">
                <label for="addressInp">Endereço</label>
                <input #addressInp class="form-control" id="addressInp" formControlName="address" required>
                <div *ngIf="updateUserForm.controls['address'].invalid && (updateUserForm.controls['address'].dirty || updateUserForm.controls['address'].touched)" class="text-danger">
                  Digite um endereço válido.
                </div>
              </div>

              <div class="form-group">
                <label for="roleSelect">Tipo de Usuário</label>
                <select class="form-control" id="roleSelect" formControlName="role">
                  <option value="user">Usuário</option>
                  <option value="admin">Administrador</option>
                </select>
              </div>

            </div>


          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="updateBase()">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="container profile-page" *ngIf="currentPage === 'atualizar-produto'">
  <div class="container">
    <h1><i class="fas fa-cubes"></i> Inventário</h1>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fas fa-id-card"></i> Id do Produto</th>
            <th><i class="fas fa-image"></i> Foto do Produto</th>
            <th><i class="fas fa-cube"></i> Nome do Produto</th>
            <th><i class="fas fa-file-alt"></i> Descrição</th>
            <th><i class="fas fa-dollar-sign"></i> Preço</th>
            <th><i class="fas fa-edit"></i> Editar</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="(products$ | async)?.length; else noProducts">
            <tr *ngFor="let product of products$ | async">
              <td>{{ product.pid }}</td>
              <td><img class="product img-fluid" [src]="product.picture" width="70" height="70"></td>
              <td>{{ product.nome_produto }}</td>
              <td>{{ product.descricao }}</td>
              <td>R$ {{ product.preco.toFixed(2) }}</td>
              <td>
                <button class="btn btn-primary " data-toggle="modal" data-target="#atualizarModalProduto" (click)="toggleUpdateProduct(product)">
                  <i class="fas fa-pencil-alt"></i> Editar
                </button>
                <button class="btn btn-danger ml-3" (click)="deteleProductDialog(product.pid)">
                  <i class="fas fa-trash-alt"></i> Deletar
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ng-template #noProducts>
      <p>Nenhum produto cadastrado.</p>
    </ng-template>
  </div>
</div>


<div class="modal fade" id="atualizarModalProduto" tabindex="-1" role="dialog" aria-labelledby="atualizarModalProduto" aria-hidden="true" *ngIf="showModal"  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="atualizarModalProduto">Atualizar Cadastro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateProductForm"  novalidate *ngIf="productToUpdate">

          <div class="form-group">
            <label for="pidInp">ID do produto</label>
            <input #pidInp class="form-control" id="pidInp" placeholder="Product ID" formControlName="pid" readonly>
          </div>

          <div class="form-group">
            <label for="nameInp">Nome do produto:</label>
            <input #nameInp class="form-control" id="nameInp" placeholder="Product Name" formControlName="product_name">
          </div>

          <div class="form-group">
            <label for="descInp">Descrição:</label>
            <input #descInp class="form-control" id="descInp" placeholder="Description" formControlName="description">
          </div>

          <div class="form-group">
            <label for="priceInp">Preço:</label>
            <input #priceInp class="form-control" id="priceInp" type="number" placeholder="Price" formControlName="price">
          </div>


          <img class="product" [src]="productToUpdate.picture" width="150" height="150" style="margin:auto;margin-bottom: 10px;" />
          <input #fileInp class="file-upload" type="file" accept=".jpeg" (change)="onProductFileChange($event)" >
          <small class="form-text text-muted">Somente arquivos JPEG são permitidos.</small>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="editProduct()">Atualizar</button>
      </div>
    </div>
  </div>
</div>



<div class="container profile-page" *ngIf="currentPage === 'adicionar-produto'">
  <form [formGroup]="newProductForm" (ngSubmit)="postProduct()" class="centerForm">
    <h1 class="text-center"><i class="fas fa-plus-circle"></i> Adicionar um novo produto:</h1>

    <div class="form-group">
      <label for="nameInp"><i class="fas fa-cube"></i> Nome do Produto:</label>
      <input #nameInp class="form-control" id="nameInp" placeholder="Nome" formControlName="product_name">
    </div>

    <div class="form-group">
      <label for="descInp"><i class="fas fa-file-alt"></i> Descrição:</label>
      <textarea #descInp class="form-control" id="descInp" placeholder="Descreva o produto" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="priceInp"><i class="fas fa-dollar-sign"></i> Preço:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
        </div>
        <input #priceInp class="form-control" id="priceInp" type="number" placeholder="0.00" formControlName="price">
      </div>
    </div>

    <div class="form-group">
      <label for="fileInp"><i class="fas fa-image"></i> Imagem:</label>
      <div class="custom-file">
        <input #fileInp class="custom-file-input" id="fileInp" type="file" accept=".jpeg" (change)="onFileChange($event)">
        <label class="custom-file-label" for="fileInp">Escolha um arquivo JPEG</label>
      </div>
      <small class="form-text text-muted">Somente arquivos JPEG são permitidos.</small>
    </div>

    <button class="btn btn-primary btn-block adminBtn" type="submit"><i class="fas fa-plus"></i> Adicionar novo produto</button>
  </form>
</div>





